/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* RESET */
* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* VARIABLES */
:root {
    --FONT-COLOR: #283593;
    --LINK-COLOR: #FF7043;
    --BUTTON-COLOR: #FAF3F1;
    --LIGHT-BLUE: #E0F7FA;
    --DARK-BLUE: #C4E0F3;
    --BLUE-BACKGROUND: #C4E0F3;
    --RED-BACKGROUND: #FAF3F1;
    --RED-FLICKER: #FFE0DF;
}

/* STYLING */
body {
    background-color: var(--LIGHT-BLUE);
    color: var(--FONT-COLOR);
    display: grid;
    font-family: "Nunito", sans-serif;
    font-size: 1.25rem;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

h1 {
    background-color: var(--DARK-BLUE);
    box-shadow: 0 1px 5px black;
    padding: 0.5em;
    text-align: center;
}

.content {
    margin: 2vw;
}

.os-detection {
    border-radius: 0.5em;
    border: 2px solid black;
    font-size: 1.5em;
    left: 50%;
    padding: 1ch;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

a {
    color: var(--LINK-COLOR);
    text-decoration: none;
}

ol {
    list-style-position: inside;
}

.button{
    background-color: var(--BUTTON-COLOR);
    border-radius: 0.5em;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    padding: 0 1ch;
}

.button:hover {
    filter: brightness(95%);
}

.button:active {
    box-shadow: 1px 0 3px black;
    transform: translateY(1px);
}

/* JAVASCRIPT CLASSES */
.blue-box {
    background-color: var(--BLUE-BACKGROUND);
}

.flickering-red-box {
    background-color: var(--RED-BACKGROUND);
    animation: flicker 1s infinite alternate;
}

.os-detection-appear {
    animation: appear 0.5s ease-in-out forwards;
}

.os-detection-disappear {
    animation: disappear 0.5s ease-in-out forwards;
}

.selected-os-appear {
    animation: instruction-appear 0.25s ease-in-out;
}

.download-button-appear {
    animation: download-button-appear 0.25s ease-in-out;
}

.hidden {
    display: none;
}

/* ANIMATIONS */
@keyframes appear {
    0% {
        opacity: 0%;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 100%;
        transform: translate(-50%, -50%);
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0%;
        transform: translate(-50%, 0%);
    }
}

@keyframes flicker {
    0% {
        background-color: var(--RED-FLICKER);
    }
    100% {
        background-color: var(--RED-BACKGROUND);
    }
}

@keyframes instruction-appear {
    0% {
        color: transparent;
        transform: translateY(100%);
    }
    100% {
        color: var(--FONT-COLOR);
        transform: translateY(0%);
    }
}

@keyframes download-button-appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}